<md-list ng-cloak>
  <md-subheader class="md-no-sticky">Users</md-subheader>

  <md-list-item ng-repeat="channel in vm.channels">
    <!--<md-checkbox ng-model="chann.selected"></md-checkbox>-->
    <md-icon md-svg-icon="cached"></md-icon>
    <p>{{channel.name}}</p>
    <!--<ng-md-icon icon="..." style="fill: ..." size="..."></ng-md-icon>-->
    <ng-md-icon aria-label="Chat" icon="{{vm.getStatusIcon(channel)}}" ng-click="vm.morph(channel, $event)"></ng-md-icon>
  </md-list-item>

  <md-divider></md-divider>
</md-list>

