<div layout="column" layout-fill>
  <sl-room-toolbar
    sl-room="vm.slRoom"
    sl-on-create-note-mode="vm.onCreateNoteMode(state)"

  ></sl-room-toolbar>

  <main flex sl-messages="::vm.slRoom.messages" sl-selection-mode="vm.isSelectionMode" >
    <!--<div layout-padding flex layout="column" ></div>-->
  </main>


  <footer>

    <md-content class="message-input animated-slideInUp" ng-if="!vm.isSelectionMode">
      <!--//@TODO - make this autoresizeable-->
      <textarea type="text"
          ng-disabled="!vm.isConnected()"
          ng-model="vm.currentMessage" ng-keyup="$event.keyCode == 13 && vm.sendMessage()"
          ></textarea>
    </md-content>
  </footer>
</div>
