$black-text: rgba(0, 0, 0, .54);
$white-text: rgba(255, 255, 255, .80);
$md-primary: #009688; //sync this with md-selected pallete
$md-primary-light: #80CBC4;
$md-primary-dark: #004D40;

//$md-ascent: #FFAB40;
$md-ascent: #FF9100;

$secondary-toolbar: #f6f6f6;
