.login-container {
  background: rgba(255,255,255,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 44%, rgba(207,205,207,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(44%, rgba(230,230,230,1)), color-stop(100%, rgba(207,205,207,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 44%, rgba(207,205,207,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 44%, rgba(207,205,207,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 44%, rgba(207,205,207,1) 100%);
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 44%, rgba(207,205,207,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cfcdcf', GradientType=1 );

  .login-form {
    min-width: 450px;
    md-card-title {
      background: cornflowerblue;
      color: white;
    }
    md-card-content: {
      padding-bottom: 0px;
    }
  }
}
