<div class="login-container md-padding" layout="column" flex="100" layout-align="center center">
  <md-card class="login-form">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Login Sir/Mis</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content class="md-padding">
      <md-input-container class="md-block">
        <label>Enter your name</label>
        <input type="text" ng-model="vm.user.username" required>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Password</label>
        <input ng-model="vm.user.password" type="password">
      </md-input-container>

      <div layout="row" layout-align="end center">
        <md-button class="md-raised md-primary" flex="50" flex-xs="80" ng-click="vm.login()">Login</md-button>
      </div>

    </md-card-content>
    <p>{{vm.errorMessage}}</p>
  </md-card>

  <div layout="row" layout-align="end center">
    <a href="" >forgot password</a>
  </div>
</div>
