.sl-chat{


  .left-panel {
    min-width: 250px;
    max-width: 250px;
    min-height: 100%;
    ng-md-icon {
      fill: grey;
      &.online {
        fill: green;
      }
      &.offline {
        fill: red;
      }
    }
  }
  .right-panel {
    height: auto;
    overflow: auto;
    background-color: #5aadbb;


    main {
      overflow-y: scroll;
    }

    sl-messages {
      .pending-message {
        color: grey;
      }
    }
  }
}
